<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="goodee.gdj58.online.mapper.ExampleMapper">
	
	<!-- 오답인 문제 보기 출력 -->
	<select id="selectWrongExampleList"
			parameterType="java.util.Map"
			resultType="goodee.gdj58.online.vo.Example">
		SELECT
			q.question_no questionNo
			, e.example_idx exampleIdx
			, e.example_title exampleTitle
		FROM example e 
			INNER JOIN question q
			ON e.question_no = q.question_no
				INNER JOIN paper p
				ON p.question_no = q.question_no
		WHERE q.test_no = #{testNo} AND e.example_ox = '오답' AND p.student_no = #{studentNo}
		ORDER BY q.question_idx, e.example_idx;
	</select>
	
	<!-- 응시할 시험 보기 출력 -->
	<select id="selectExampleByTestNo"
			parameterType="Integer"
			resultType="java.util.Map">
		SELECT
			q.question_no questionNo
			, e.example_idx exampleIdx
			, e.example_title exampleTitle
			, e.example_ox exampleOx
		FROM
			example e inner JOIN question q ON e.question_no = q.question_no
				inner JOIN test t ON q.test_no = t.test_no
		WHERE t.test_no = #{testNo}
		ORDER BY e.example_idx
	</select>
	
	<!-- 문제 보기 삭제 -->
	<delete id="deleteExample"
			parameterType="Integer">
		DELETE FROM example WHERE example_no = #{exampleNo}
	</delete>
	
	<!-- 문제 보기 수정 -->
	<update id="updateExample"
			parameterType="goodee.gdj58.online.vo.Example">
		UPDATE example SET
			example_idx = #{exampleIdx}
			, example_title = #{exampleTitle}
			, example_ox = #{exampleOx}
		WHERE example_no = #{exampleNo}
	</update>
	
	<!-- 문제 보기 추가 -->
	<insert id="insertExample"
			parameterType="java.util.Map">
		INSERT INTO example(
			question_no
			, example_idx
			, example_title
			, example_ox
		) VALUES (
			#{questionNo}
			, #{exampleIdx}
			, #{exampleTitle}
			, #{exampleOx}
		)
	</insert>
	
	<!-- 수정 시 불러올 보기 -->
	<select id="selectExampleOne"
			parameterType="Integer"
			resultType="goodee.gdj58.online.vo.Example">
		SELECT
			example_no exampleNo
			, example_idx exampleIdx
			, example_title exampleTitle
			, example_ox exampleOx
		FROM example
		WHERE example_no = #{exampleNo}
	</select>
	
	<!-- 최근 등록된 보기 -->
	<select id="selectRecentExampleList"
			resultType="goodee.gdj58.online.vo.Example">
		SELECT
			example_idx exampleIdx
			, example_title exampleTitle
			, example_ox exampleOx
		FROM example
		ORDER BY example_no DESC
		LIMIT 10
	</select>
	
	<!-- 전체 보기 갯수 -->
	<select id="selectExampleCnt"
			parameterType="String"
			resultType="Integer">
		SELECT COUNT(*) cnt FROM example
		<where>
			<if test="searchWord != null || searchWord != ''">
				example_title LIKE CONCAT('%', #{searchWord}, '%')
			</if>
		</where>
	</select>
	
	<!-- 전체 문제 보기 목록 -->
	<select id="selectExampleListAll"
			resultType="java.util.Map"
			parameterType="java.util.Map">
		SELECT
			q.question_no questionNo
			, q.question_idx questionIdx
			, q.question_title questionTitle
			, e.example_no exampleNo
			, e.example_idx exampleIdx
			, e.example_title exampleTitle
			, e.example_ox exampleOx
		FROM example e RIGHT outer JOIN question q
			ON e.question_no = q.question_no
		<where>
			<if test="searchWord != null || searchWord != ''">
				example_title LIKE CONCAT('%', #{searchWord}, '%')
			</if>
		</where>
		ORDER BY q.question_no ASC, e.example_idx ASC
		LIMIT #{beginRow}, #{rowPerPage}
	</select>
	
	<!-- 문제 보기 목록 -->
	<select id="selectExampleList"
			parameterType="Integer"
			resultType="goodee.gdj58.online.vo.Example">
		SELECT
			question_no questionNo
			, example_no exampleNo
			, example_idx exampleIdx
			, example_title exampleTitle
			, example_ox exampleOx
		FROM example
		WHERE question_no = #{questionNo}
		ORDER BY example_idx ASC
	</select>
	
</mapper>