<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="goodee.gdj58.online.mapper.TestMapper">
	
	<!-- 문제번호 최댓값 -->
	<select id="selectMaxQueIdx"
			parameterType="Integer"
			resultType="Integer">
		SELECT MAX(q.question_idx)+1 maxQueIdx
		FROM question q
			INNER JOIN test t
			ON q.test_no = t.test_no
		WHERE t.test_no = #{testNo}
	</select>
	
	<!-- 문제 추가(보기 포함) -->
	<insert id="insertQNE"
			parameterType="java.util.Map">
		INSERT INTO 
	</insert>
	
	<!-- 시험 문제 목록 -->
	<select id="selectQuestionList"
			parameterType="Integer"
			resultType="goodee.gdj58.online.vo.Question">
		SELECT
			test_no testNo
			, question_no questionNo
			, question_idx questionIdx
			, question_title questionTitle
		FROM question
		WHERE test_no = #{testNo}
		ORDER BY question_idx ASC
	</select>
	
	<!-- 응시한 시험 목록 -->
	<select id="selectStudentTestList"
			parameterType="Integer"
			resultType="goodee.gdj58.online.vo.Test">
		SELECT
			t.test_title testTitle
			, t.test_date testDate
			, t.test_no testNo
		FROM paper p
			INNER JOIN question q
			ON q.question_no = p.question_no
				INNER JOIN test t
				ON t.test_no = q.test_no
		WHERE p.student_no = #{studentNo}
		GROUP BY t.test_no
	</select>
	
	<!-- 응시할 시험 불러오기 -->
	<select id="selectTestListForPaper"
			parameterType="Integer"
			resultType="java.util.Map">
		SELECT
			t.test_date testDate
			, t.test_no testNo
			, t.test_title testTitle
			, q.question_no questionNo
			, q.question_idx questionIdx
			, q.question_title questionTitle
			, e.example_no exampleNo
			, e.example_idx exampleIdx
			, e.example_title exampleTitle
			, e.example_ox exampleOx
		FROM
			example e INNER JOIN question q
			ON e.question_no = q.question_no
				INNER JOIN test t
				ON q.test_no = t.test_no
		WHERE t.test_no = #{testNo}
	</select>
	
	<!-- 지난 시험 -->
	<select id="selectPastTestList"
			resultType="goodee.gdj58.online.vo.Test">
		SELECT
			test_no testNo
			, test_date testDate
			, test_title testTitle
		FROM test
		WHERE test_date <![CDATA[<]]> CURDATE()
		LIMIT 10
	</select>
	
	<!-- 오늘 시험 -->
	<select id="selectCurrnetTestList"
			resultType="goodee.gdj58.online.vo.Test">
		SELECT
			t.test_no testNo
			, t.test_date testDate
			, t.test_title testTitle
			, q.question_idx
			, e.example_idx
		FROM test t
			LEFT OUTER JOIN question q
			ON t.test_no = q.test_no
				LEFT OUTER JOIN example e
				ON q.question_no = e.question_no
		WHERE t.test_date = CURDATE() AND q.question_idx IS NOT NULL AND e.example_no IS NOT NULL
		GROUP BY t.test_no
	</select>
	
	<!-- 예정 시험 -->
	<select id="selectFutureTestList"
			resultType="goodee.gdj58.online.vo.Test">
		SELECT
			test_no testNo
			, test_date testDate
			, test_title testTitle
		FROM test
		WHERE test_date <![CDATA[>]]> CURDATE()
		LIMIT 10
	</select>
	
	<!-- 문제 등록 시 불러올 시험 정보 -->
	<select id="selectTestListForAddQuestion"
			resultType="goodee.gdj58.online.vo.Test">
		SELECT
			test_no testNo
			, test_date testDate
			, test_title testTitle
		FROM test
	</select>
	
	<!-- 시험 회차 삭제 -->
	<delete id="deleteTest"
			parameterType="Integer">
		DELETE FROM test WHERE test_no = #{testNo}
	</delete>
	
	<!-- 시험 회차 수정 -->
	<update id="updateTest"
			parameterType="goodee.gdj58.online.vo.Test">
		UPDATE test SET
			test_title = #{testTitle}
			, test_date = #{testDate}
		WHERE test_no = #{testNo}
	</update>
	
	<!-- 시험 회차 추가 -->
	<insert id="insertTest"
			parameterType="goodee.gdj58.online.vo.Test">
		INSERT INTO test (
			test_title
			, test_date
		) VALUES (
			#{testTitle}
			, #{testDate}
		)
	</insert>
	
	<!-- 수정 시 불러올 시험 정보 -->
	<select id="selectTestOne"
			parameterType="Integer"
			resultType="goodee.gdj58.online.vo.Test">
		SELECT
			test_no testNo
			, test_title testTitle
			, test_date testDate
		FROM test
		WHERE test_no = #{testNo}
	</select>
	
	<!-- 최근 등록 시험 -->
	<select id="selectRecentTestList"
			resultType="goodee.gdj58.online.vo.Test">
		SELECT
			test_title testTitle
			, test_date testDate
		FROM test
		ORDER BY test_no DESC
		LIMIT 10;
	</select>

	<!-- 전체 시험 갯수 -->
	<select id="selectTestCnt"
			parameterType="String"
			resultType="Integer">
		SELECT COUNT(*) cnt FROM test
		<where>
			<if test="searchWord != null || searchWord != ''">
				test_title LIKE CONCAT('%', #{searchWord}, '%')
			</if>
		</where>
	</select>
	
	<!-- 시험 회차 목록 -->
	<select id="selectTestList"
			resultType="goodee.gdj58.online.vo.Test"
			parameterType="java.util.Map">
		SELECT
			test_no testNo
			, test_title testTitle
			, test_date testDate
		FROM test
		<where>
			<if test="searchWord != null || searchWord != ''">
				test_title LIKE CONCAT('%', #{searchWord}, '%')
			</if>
		</where>
		ORDER BY test_date ASC
		LIMIT #{beginRow}, #{rowPerPage}
	</select>
	
</mapper>